
/* Fonts from Google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    font-family: 'roboto mono', monospace;
}

body{
    background-color: #EBDBCC;
}

/*home page*/ 
/*image home page*/
.img_home{
    width: 600;
    height: 400;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
article{
    text-align: center;
}
  
  .startBtn{
    border: none;
    color: #800059;
    background-color: white;
    border-radius: 30%;
    padding: 1em 1.5em;
    align-self: center;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: auto;
    
  }

/*make the page responsive*/
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap; 
   }

    /*image on the left*/
   .flex-item .left{
        background: #EBDBCC;
        padding-left: 20px;
        width: 350px;
        height: 550px;
        margin-top: 10px;
        line-height: 150px;
        text-align: center;
   }


    /*main quiz*/
   .flex-item .quiz{
        width: 500px;
        height: 550px;
        background: #EBDBCC;
        padding-left: 20px;
        margin-top: 10px;
        text-align: center;
        align-items: center;
   }

    /*header*/   
   .flex-item header{
        height: 70px;
        z-index: 99;
        padding: 10px 20px;
        background: #EBDBCC;
        text-align: center;
        align-items: center;
        border-radius: 5px 5px 0 0;
    }

    /*style the title*/
    .flex-item header .title{
        align-items: center; 
        text-align: center;
        padding-bottom: 10px;
        font-size: 60px;
        font-family: "roboto mono";
        color: #7b5b64;    
    }
    
    .flex-item header .timer{
        position: relative;
        width: 145px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
        background: #7b5b64;
        border: #231709;
        border-radius: 5px;
        padding: 0 8px;   
    }

    .flex-item header .timer .time_text{
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        color: white;
        user-select: none;   
    }

    .flex-item header .timer .time_sec{
        height: 25px;
        width: 45px;
        text-align: center;
        line-height: 25px;
        background: white;
        font-size: 18px;
        font-weight: 500;
        color: #7b5b64;
        border-radius: 5px;
        user-select: none;
    }

    .flex-item section{
        padding: 25px 30px 25px 30px;
    }
    
    /*style the question text*/
   .flex-item section .question_text{
        font-family: 'Shadows Into Light', cursive;
        font-size: 30px;
        color: #231709;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;    
    }

    /*style the answers box*/
   .flex-item section .option_list{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        display: block;
    }

   /*style the answer text*/
   section .option_list .option{
        background: white;
        border: 1px solid #231709;
        border-radius: 5px;
        padding: 15px 15px;
        margin-bottom: 15px;
        font-family: 'Shadows Into Light', cursive;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.3s ease;
   }

   /*changes when hover*/
   section .option_list .option:hover{
        color: white;
        background: #7b5b64;
        border-color: #231709;
    }

    .option .correctAnswer{
        background-color: green;
    }

    .option .incorrectAnswer{
        background-color: red;
    }

    .option_list .option:last-child{
        margin-bottom: opx;
    }

    /*style the button*/
    .nextBtn button{
        height: 40px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        border: 1px solid #231709;
        border-radius: 5px;
        color: #231709;
        background: white;
        cursor: pointer;
        
        
    }

   /*image on the right*/
   .flex-item .right{
        background: #EBDBCC;
        width: 350px;
        height: 550px;
        margin-top: 10px;
        line-height: 150px;
        text-align: center;
   }


  