body{
    background: #EBDBCC;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    width: 300px;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.wrapper .header{
    position: relative;
    z-index: 99;
    height: 500px;
    padding: 0 30px;
    background: #EBDBCC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;

}

.wrapper .header .title{
    font-size: 20px;
    font-weight: 600;

}

.wrapper header .timer .time_text{
    font-weight: 400;
    font-size: 17;
    user-select: none;

}

.wrapper header .timer .time_sec{
    background: #EBDBCC;
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: red;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid salmon;
    user-select: none;

}

.wrapper section{
    text-align: center;
    background: #FFFAEF;
    padding: 25px 30px 20px 30px;

}

.wrapper section .question{
    font-size: 25px;
    font-weight: 600;

}

.wrapper section .option_list{
    padding: 20px 0;
    display: block;    
}

section .option_list .option{
    background: #EBDBCC;
    border: 1px solid green;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

section .option_list .option:hover{
    color: aqua;
    background: yellow;
    border-color: blue;

}

section .option_list .option:last-child{
    margin-bottom: 0px;
}


.wrapper .aside-1 .left{
    background: #EBDBCC;
    
    height: 500px;
    image-resolution: 300dpi;
}



.wrapper .aside-2 .right{
    background: #EBDBCC;

    height: 500px;
    image-resolution: 300dpi;
}


.footer {
    background: #EBDBCC;
}



@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main { flex: 4 0px; }
    .aside-1 { order: 2; }
    .main { order: 3; }
    .aside-2 { order: 4; }
    .footer { order: 5; }
    .header {order: 1;}
}

body {
    padding: 2em;
}